<!DOCTYPE html>
<html>

<head>
	<title>Expired URL</title>
	<!--<link rel="stylesheet" type="text/css" href="../static/css/expired.css">-->
	<style>
		body {
			font-family: Arial, sans-serif;
			padding: 20px;
			background-color: #f0f0f0;
		}

		h1 {
			text-align: center;
			color: #333;
		}

		p {
			text-align: center;
			color: #666;
		}

		.back-button {
			display: block;
			text-align: center;
			margin-top: 20px;
			color: black;
		}
	</style>
</head>

<body>
	<h1>URL Expired!</h1>
	<p>Oh Dear! The URL has expired!</p>
	<a class="back-button" href="http://localhost:7070">Back</a>
</body>

</html>